body{
    display: flex;
    margin: 0 auto;
    justify-content: center;
}
nav{
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:40px;
    background-color: black;
    width:500px;
    height: 80px;
    border-radius: 20px;
}
button{
    display: inline-block;
    color: white;
    background-color: black;
    font-size: 14px;
    width: 80px;
    height:60px;
    border-radius: 20px;
    border-style: solid;
    cursor: pointer;
}
.active{
    background-color: green;
}
.active_2{
    font-size: 40px;
    transform:scale(1.5);
}
.hamburger{
    display: none;
    cursor: pointer;
}
@media (max-width:768px) {
    .bar{
        display: none;
    }
    .hamburger{
        display:block;
        cursor: pointer;
    }
}
.sidebar.show{
    left:0;
}